.p-404 {
   padding-top: rem(80);
   @include mq('tab') {
      padding-top: rem(150);
   }
}

.p-404__inner {
   max-width: $l-sp;
   margin: 0 auto;
   @include mq('tab') {
      max-width: $l-inner;
   }
}

.p-404__content {
   text-align: center;
}

.p-404__title {
   color: rgba($accent-color, 0.3);
   font-size: rem(40);
   // line-height: (35 / 40);
   line-height: 1;
   letter-spacing: 0.05em;
   text-transform: capitalize;
   @include mq('tab') {
      font-size: rem(60);
      letter-spacing: 0.03333em;
   }
}

.p-404__text {
   font-size: rem(20);
   line-height: 1;
   letter-spacing: 0.1em;
   @include mq('tab') {
      font-size: rem(30);
      letter-spacing: 0.0666em;
   }
}

.p-404__text {
   margin-top: rem(80);
}

.p-404__to-top {
   max-width: rem(360);
   margin: rem(80) auto 0;
}