.p-announce {
   display: block;
}

#top .p-announce:hover .p-announce__title {
   text-decoration: underline;
   text-decoration-color: $general-white;
}

#sub-news .p-announce:hover .p-announce__title {
   color: $hover-color;
}

.p-announce__wrap {
   @include mq('tab') {
      display: flex;
      align-items: start;
   }
}

.p-announce__info {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: rem(211);
   line-height: 1;
   @include mq('tab') {
      max-width: rem(227);
   }
}

.p-announce__date {
   width: 100%;
   max-width: rem(112);
   padding-right: rem(32);
   letter-spacing: normal;
   @include mq('tab') {
      max-width: rem(128);
      padding-right: rem(48);
   }
}


.p-announce__date time {
   white-space: nowrap;
}

.p-announce__category {
   display: inline-block;
   width: rem(100);
   padding: rem(8) rem(16);
   border: 1px solid #fff;
   font-size: rem(14);
   text-align: center;
   white-space: nowrap;
}

.p-announce__title {
   width: 100%;
   margin-top: rem(16);
   font-size: rem(16);
   font-weight: $regular;
   transition: all 0.3s ease 0s;
   @include mq('tab') {
      max-width: calc(100% - #{rem(235)});
      padding-top: rem(6);
      margin-top: 0;
      margin-left: rem(60);
   }
}