.p-sub-overview {
   padding-top: rem(70);
   @include mq('tab') {
      padding-top: rem(99);
   }
}

.p-sub-overview__inner {
   max-width: $l-sp;
   margin: 0 auto;
   @include mq('tab') {
      max-width: $l-inner;
   }
}

.p-sub-overview__content {

}

.p-sub-overview__info {

}

.p-sub-overview__access {
   margin-top: rem(120);
   @include mq('tab') {
      margin-top: rem(80);
   }
}