/* General-Color */
$general-white: #fff;
$general-black: #333;

/* Color */
$primary-color: #111;
$secondary-color: #3D3D3D;
$accent-color: #FFEA2E;
$title-color: #F9F871;

/* Hover-Color */
$hover-color: #F9F871;

/* Transparency */
$opacity: 0.6;
$hover-opacity: 0.8;

/* Background-Color */

/* Gradation */

/* Button */

/* Label */

/* Border */