/* Font-Family */
$font-family-base: 'Noto Sans JP', sans-serif;
$font-family-english: 'Noto Serif JP', serif;
$font-family-sub: 'Roboto', sans-serif;

/* Font-Size */
$font-size-base: 16px;

/* Font-Weight */
$regular: 400;
$medium: 500;
$bold: 700;

/* Line-Height */
$line-height-base: (23.17 / 16);

/* Letter-Spacing */
// $letter-spacing-base: 0.125em;