.l-contact {
   background: $secondary-color;
}

.l-contact__inner {
   width: 100%;
   max-width: $l-sp + strip-unit($padding-sp) * 2;
   height: inherit;
   padding-top: rem(30);
   padding-right: $padding-sp;
   padding-bottom: rem(64);
   padding-left: $padding-sp;
   margin: 0 auto;
   @include mq('tab') {
      max-width: $l-inner + strip-unit($padding-pc) * 2;
      padding-top: rem(80);
      padding-right: $padding-pc;
      padding-bottom: rem(149);
      padding-left: $padding-pc;
   }
}

.l-contact__title {
   text-align: center;
}

.l-contact__title .c-title-sub {
   @include mq('tab') {
      display: flex;
      justify-content: space-between;
   }
}

.l-contact__title .c-title-main {
   margin-top: rem(-10);
   @include mq('tab') {
      margin-top: rem(-40);
   }
}

.l-contact__text {
   margin-top: rem(20);
   letter-spacing: 0.125em;
   @include mq('tab') {
      margin-top: rem(24);
      text-align: center;
   }
}

.l-contact__more {
   margin: rem(50) auto 0;
   @include mq('tab') {
      max-width: rem(360);
      margin-top: rem(70);
   }
}